<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/homePage.css">
     <title>Home Page</title>
</head>

<body>
     <ul>
          <li><a class="active" href="#home">Home</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/about">About</a></li>
     </ul>
     <form action="/create-user" method="post">
          <fieldset>
               <legend>Add new user:</legend>
               <label for="email">Email:</label><br>
               <input type="text" id="email" name="email"><br>
               <label for="name">Name:</label><br>
               <input type="text" id="name" name="name"><br><br>
               <label for="address">Address:</label><br>
               <input type="text" id="address" name="address"><br><br>
               <input type="submit" value="Submit">
          </fieldset>
     </form>

</body>

</html>